<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    
  </configSections>
  <appSettings>
    <add key="BROWSER_TYPE" value="chrome" />
    <add key="HIGHLIGHT_ON_FIND" value="true" />
    <add key="websiteUrl" value="https://www.google.com/gmail/about/" />
    <add key="SEARCH_TIME_SECOND" value="60" />
    <add key="SEARCH_ELEMENT_TIMES" value="5" />
    <add key="TIMEOUT_TIME_SECOND" value="3" />
   </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
</configuration>